.container {
  margin-top: 20px;
  padding: 60px 0 100px 0;

  .blog-menu-button {
    position: fixed;
    right: 20px;
    bottom: 80px;
  }
}

.my-blogs {
  overflow: hidden;
}

.blog-divider {
  border-color: gray;
  margin: 0 150px 20px 150px;
}

.expand-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
