.container {
  margin-top: 20px;
  padding: 60px 0 100px 0;
  height: 90vh;

  .blog-menu-button {
    position: fixed;
    right: 20px;
    bottom: 80px;
  }
}

.my-blogs {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0;

  &.show {
    max-height: 100%;
  }
}

.blog-divider {
  border-color: gray;
  margin: 0 150px 20px 150px;
}

.expand-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
