@import "colors";

.cdk-overlay-backdrop {
  backdrop-filter: blur(10px);
}

.dark {
  .mat-dialog-container {
    background: rgb(73, 73, 73, 0.95) !important;
    color: $white-color;
  }

  .mat-form-field {
    &-flex {
      color: $white-color !important;
      border-bottom: 2px solid $gray-color-lighter !important;
    }

    &-label {
      color: $white-color !important;
    }

    &-underline {
      color: $gray-color-lighter !important;
    }
  }

  .mat-raised-button {
    background: $gray-color-very-dark;
    color: $white-color;

    &:hover {
      background: $gray-color-lighter !important;
      color: $black-color;
    }
  }

  .mat-card {
    background: $gray-color-very-dark;
    color: $white-color;
  }

  .mat-menu {
    &-panel {
      background: $gray-color-very-dark !important;
    }

    &-item {
      color: $white-color;

      &:hover {
        background: $gray-color-lighter !important;
      }
    }
  }
}

.mat-dialog-container {
  background: rgba(255, 255, 255, 0.85);
  color: $black-color;
  border-radius: 0 !important;
}

.mat-raised-button {
  background: $white-color;
  color: $black-color;
  border-radius: 0 !important;

  &:hover {
    background: $gray-color-lighter !important;
  }
}

.mat-focused .mat-form-field {
  &-label {
    color: $primary-color !important;
  }

  &-ripple {
    background-color: $primary-color !important;
  }
}

.mat-form-field {
  &-flex {
    color: $gray-color-darker;
    border-radius: 0 !important;
    border-bottom: 2px solid $gray-color-darker;
  }

  &-label {
    color: $gray-color-darker;
  }

  &-underline {
    color: $gray-color-darker;
  }

  input {
    caret-color: $primary-color;
  }

  &-ripple {
    background-color: $primary-color !important;
  }
}

.mat-card {
  background: $white-color-secondary;
  color: $black-color;
  box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 30%) !important
}

.mat-menu {
  &-panel {
    background: $white-color;
  }

  &-item {
    color: $gray-color-darker;

    &:hover {
      background: $gray-color-lighter !important;
    }
  }
}

.mat-spinner circle {
  stroke: $red-color !important;
}

.mat-tooltip {
  font-size: 16px;
}
