@import './src/styles/colors';

.sts-footer.dark {
  background: $gray-color-very-dark;

  span {
    color: $white-color;
  }
}

.sts-footer {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  z-index: 2;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 75%);
  background: $white-color;

  span {
    color: $black-color;
  }

  .footer-url {
    font-weight: 100;
    cursor: pointer;
  }
}
