<div
  class="signin-header"
  [ngClass]="{
          'dark': isDarkTheme
        }"
>
  <div class="signin-titles-container">
    <h2 mat-dialog-title class="signin-title">{{action}}</h2>
    <div class="signup-container" *ngIf="signup; else signin">
      <ng-container
        *ngFor="let field of signUpForm"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [type]=field.type [(ngModel)]="field.value">
          <button
            appDebounceClick
            *ngIf="field.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="field.value=''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>

      <button appDebounceClick mat-raised-button (click)="signUp()">Sign Up</button><br>
      <button appDebounceClick class="astext" (click)="toggleSignup()">Already Have an account? Sign In</button><br>
    </div>

    <ng-template #signin>
      <div class="singin-container">
        <mat-form-field class="singin-username-input" appearance="fill">
          <mat-label>Enter Username</mat-label>
          <input matInput type="text" [(ngModel)]="usernameSignIn" required>
          <button appDebounceClick *ngIf="usernameSignIn" matSuffix mat-icon-button aria-label="Clear" (click)="usernameSignIn=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="singin-password-input" appearance="fill">
          <mat-label>Enter Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="passwordSignIn" required>
          <div class="input-button-container">
            <span class="input-button-container-content" [ngClass]="{ 'no-button': !passwordSignIn }">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <button appDebounceClick *ngIf="passwordSignIn" matSuffix mat-icon-button aria-label="Clear" (click)="passwordSignIn=''">
              <mat-icon>close</mat-icon>
            </button>
            </span>
          </div>
        </mat-form-field>
        <mat-checkbox *ngIf="!firstTimeLogin" [(ngModel)]="humanChecked">{{humanQuestion ? 'I am a human' : 'I am not a human'}}</mat-checkbox>
        <button appDebounceClick mat-raised-button (click)="signIn()">Sign In</button><br>

        <div class="text-button-container">
          <button appDebounceClick class="astext" (click)="toggleSignup()">Dont have an account? Join Now</button><br>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<mat-dialog-actions align="end">
  <div class="signin-action-buttons">
    <button appDebounceClick mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</mat-dialog-actions>
