<div class="signin-header">
  <div class="signin-titles-container">
    <h2 mat-dialog-title class="signin-title">{{action}}</h2>
    <div class="signup-container" *ngIf="signup; else signin">
      <ng-container
        *ngFor="let field of signUpForm"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [type]=field.type [(ngModel)]="field.value">
          <button *ngIf="field.value" matSuffix mat-icon-button aria-label="Clear" (click)="field.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>

      <button mat-raised-button (click)="signUp()">Sign Up</button><br>
      <button class="astext" (click)="toggleSignup()">Already Have an account? Sign In</button><br>
    </div>

    <ng-template #signin>
      <div class="singin-container">
        <mat-form-field class="singin-username-input" appearance="fill">
          <mat-label>Enter Username</mat-label>
          <input matInput type="text" [(ngModel)]="usernameSignIn">
          <button *ngIf="usernameSignIn" matSuffix mat-icon-button aria-label="Clear" (click)="usernameSignIn=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="singin-password-input" appearance="fill">
          <mat-label>Enter Password</mat-label>
          <input matInput type="text" [(ngModel)]="passwordSignIn">
          <button *ngIf="passwordSignIn" matSuffix mat-icon-button aria-label="Clear" (click)="passwordSignIn=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button (click)="signIn()">Sign In</button><br>
        <button class="astext" (click)="forgotPassword()">Forgot Password?</button><br>
        <button class="astext" (click)="toggleSignup()">Dont have an account? Join Now</button><br>
      </div>
    </ng-template>
  </div>
</div>

<mat-dialog-actions align="end">
  <div class="signin-action-buttons">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</mat-dialog-actions>
