::ng-deep .cdk-overlay-dark-backdrop { // NEVER EVER EVER DO THIS IN PRODUCTION BTW
  backdrop-filter: blur(5px);
}

.blog {
  &-header {
    display: flex;

    .button-container {
      width: 100%;

      button {
        float: right;
      }
    }
  }

  &-titles-container {
    width: 500px;
  }

  &-title {
    margin-bottom: 0;
  }

  &-date {
    width: 100%;
    display: flex;
  }

  &-action-buttons {
    position: absolute;
  }
}

.update-blog-form {
  &-title {
    width: 100%;
  }

  &-content {
    width: 100%;
  }
}
