.card {
  width: 300px;
  height: 205px;
  margin-bottom: 20px;

  &-header {
    position: relative;
    left: -15px;
  }

  &-content {
    min-height: 90px;

    p {
      max-height: 90px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    &-date {
      float: left;
      margin-left: 10px;
    }

    &-buttons {
      float: right;
    }
  }
}

.likes-amount {
  margin-right: 3px;
}
