<mat-card
  class="card"
  [ngClass]="{
    'dark': isDarkTheme
  }"
  *ngIf="displayBlog(blog)"
>
  <mat-card-header class="card-header">
    <mat-card-title>{{ blog.title }}</mat-card-title>
    <mat-card-subtitle>{{ blog.username }}</mat-card-subtitle>
    <mat-icon
      *ngIf="displayVisibilityIcon(blog)"
    >
      {{blog.visible? "visibility":"visibility_off"}}
    </mat-icon>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p> {{ blog.content }} </p>
  </mat-card-content>
  <mat-card-actions class="card-footer">
    <div class="card-footer-date">
      createdOn: {{ blog.created | date:'short' }}
    </div>
    <div class="card-footer-buttons">
      <span class="likes-amount"> {{ blog.likes.length }} </span>
      <button
        mat-icon-button
        class="heart"
        (click)="likeBlog()"
        [@blogIsLiked]="blogIsLiked"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="openBlogDialog(blog)"><mat-icon>open_in_full</mat-icon></button>
    </div>
  </mat-card-actions>
</mat-card>
