html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success {
  background: #00c853;
}

.error {
  background: #f44336;
}

.notification {
  background: #2979ff;
}
